.card {
    min-height: 20vh;
  }
  

.info-section p {
    margin: 0.5rem 0;
  }
  
  .middle-section {
    text-align: center;
  }
  
  .middle-section input {
    width: 80%;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  